<!doctype html>
<html lang="zh">
<head>
<link href="../css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/student/returnUrlByTime.js"></script>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="3;url=../manager/addStudent">
<title>添加成功</title>
</head>
<body onload="returnUrlByTime()">
<div th:include="bar"></div>
<h1 align="center" th:text="|${name}添加成功|"></h1>
<p align="center"><strong id = "layer" style="color:red;">3</strong>秒后跳转回添加页面</p>
</body>
</html>