<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>简单用户登录界面</title>
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<!--[if IE]>
                <script src="js/LoginAndRegister/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>
	<div th:include="bar"></div>
	<h1 th:text="${status}">错误！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！</h1>
	<h1 th:text="${msg}"></h1>
	<h1 th:text="${error}"></h1>
</body>
</html>