<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>简单用户登录界面</title>
<link rel="stylesheet" type="text/css"
	href="http://localhost:8080/student_ssm/css/LoginAndRegister/default.css" />
<link rel="stylesheet" type="text/css"
	href="http://localhost:8080/student_ssm/css/LoginAndRegister/styles.css" />
<script type="text/javascript">
	function changeImage(img) {
		img.src = img.src + '?' +new Date() ;
	}
</script>
<!--[if IE]>
                <script src="js/LoginAndRegister/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>
	<article class="htmleaf-container">
		<div class="panel-lite">
			<div>
				<div>
					<img src="http://localhost:8080/student_ssm/img/LoginAndRegister/login.gif" width="150" height="160">
				</div>
			</div>
			<h4>用户登录</h4>
			<form action="UserLogin" method="get">
				<div class="form-group">
					<input required="required" class="form-control" name="username" />
					<label class="form-label">用户名 </label>
				</div>
				<div class="form-group">
					<input type="password" required="required" class="form-control"
						name="password" /> <label class="form-label">密 码</label>
				</div>
				<label class="form-label">验证码</label><input type="text"
					name="code" required="required" maxlength="6" style="width: 50px"> 
					<img src="/setImage" onclick="changeImage(this)" id="image"
					alt="换一张"  />
				<button class="floating-btn" type="submit">
					<i class="icon-arrow"></i>
				</button>
				<br>
				<input type="checkbox" name="remember" value=1><span
					style="font-weight: bold; color: #ff9955;">七天内自动登陆</span> <a
					href="register">无账号 ?请注册 </a>
				<div style="text-align: center;"></div>
			</form>
		</div>
	</article>
</body>
</html>