<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>简单用户登录界面</title>
<link rel="stylesheet" type="text/css" href="css/main.css" />
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	function submit1() {
		var formData = new FormData();
		formData.append("multipartFile", document.getElementById("input").files[0]);
		$.ajax({
			type : "POST", // 数据提交类型
			url : "../fileUpload", // 发送地址
			data : formData, //发送数据
			async : true, // 是否异步
			processData : false, //processData 默认为false，当设置为true的时候,jquery ajax 提交的时候不会序列化 data，而是直接使用data
			contentType : false,
			success : function(result) {
				alert(JSON.stringify(result))
			},
			error : function(result) {
				alert(JSON.stringify(result))
			}
		//
		});
	};
</script>
<!--[if IE]>
                <script src="js/LoginAndRegister/html5shiv.min.js"></script>
        <![endif]-->
</head>
<body>
	<div th:include="bar"></div>
	<div align="center">
		<form action="fileUpload" method="post" enctype="multipart/form-data"
			id="upload">
			<input name="multipartFile" type="file" id="input"> <input
				type="button" onclick="submit1()" value="提交">
		</form>
	</div>
</body>
</html>