<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/context   
		http://www.springframework.org/schema/context/spring-context.xsd ">

	<!-- 可实现json字符串自动转化为实体类 -->
	<mvc:annotation-driven />
	
	<!-- 实体 json 自动映射转化 -->
	<!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  -->
        <!--<property name="messageConverters">  -->
            <!--<list>  -->
                <!--<ref bean="mappingJacksonHttpMessageConverter" />  -->
            <!--</list>  -->
        <!--</property>  -->
    <!--</bean>  -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
				<value>text/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	

	<!-- 启用Spring对基于@AspectJ aspects的配置支持 -->
	<!-- 激活自动代理功能 -->
	<aop:aspectj-autoproxy />
	
	<!-- 事务管理 注解开启-->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="com.mdy.student" />


	<!-- Initialization for data source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/student?serverTimezone=GMT%2B8&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false&amp;allowPublicKeyRetrieval=true" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Initialization for TransactionManager -->
	<!-- 开启事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- mybatis的配置开始 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.mdy.student.bean" />
		<property name="configLocation" value="classpath:orm/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:mapper/*.xml" />
	</bean>

	<!-- scan for mappers and let them be autowired -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.mdy.student.mapper" />
	</bean>
	<!-- mybatis的配置结束 -->

</beans>