<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/Check.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加学生成绩</title>
</head>
<body>
	<div th:include="bar"></div>
	<h1 th:text="${error}"></h1>
	<div align="center">
		<form action="/manager/add" method="post" onsubmit="return validate_form(this)">
		<div align="center">
			<table>
				<tbody>
					<tr>
						<td>学号：<input required="required" maxlength="6" name="id" style="width: 50px" id="id" ></td><td><strong id="_id" style="color:red;"></strong>
					</tr>
					<tr>
						<td>姓名：<input  required="required" name="name" id="name" style="width: 50px"></td><td><strong id="_name" style="color:red;"></strong>
					</tr>
 					<tr>
						<td>语文成绩：<input required="required" maxlength="6" name="chinese" id="chinese" style="width: 50px"><td><strong id="_chinese" style="color:red;"></strong>
					</tr>
					<tr>
						<td>数学成绩：<input required="required"  maxlength="6" name="math" id="math" style="width: 50px"><td><strong id="_math" style="color:red;"></strong></td>
					</tr>
					<tr>
						<td>英语成绩：<input  required="required" maxlength="6" name="english" id="english" style="width: 50px"><td><strong id="_english" style="color:red;"></strong></td>
					</tr>
					<tr>
						<td>作业成绩：<input required="required"  maxlength="6" name="homework" id="homework" style="width: 50px"><td><strong id="_homework" style="color:red;"></strong></td>
					</tr> 
					<tr>
						<td><button type="submit" >提交</button></td>
						<td><button type="reset">重置</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		</form>
	</div>
</body>
</html>