<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
<script type="text/javascript" src="/js/Check.js"></script>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
function re(){
	window.location.href="http://193.112.73.75:8080/manager/addStudent"
}
function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
    if (r != null) return unescape(r[2]); return null; //返回参数值
}
function getEditMessage(){
	var id = getUrlParam('id');
 	$.ajax({
		type : "GET",
		dataType : "json",
		url : "/manager/selectStudent?id="+id,
		success : function(result) {
			$('#id1').val(result.id)
			$('#id2').val(result.id)
			$('#name').val(result.name)
			$('#chinese').val(result.chinese)
			$('#math').val(result.math)
			$('#english').val(result.english)
			$('#homework').val(result.homework)
		},
		error : function() {
			alert("出错")
		}
	}); 
}
</script>
<link href="/css/main.css" rel="stylesheet" type="text/css">
<title>修改信息</title>
</head>
<body onload="getEditMessage()">
	<div th:include="bar"></div>
	<form action="/manager/edit" onsubmit="return validate_form(this)" method="post">
		<div align="center">
		<input  name="id" style="width: 50px" type="hidden" id="id1">
			<table>
				<tbody>
					<tr>
						<td>学号：<input maxlength="6" name="id" style="width: 50px" disabled="disabled" id="id2"></td>
					</tr>
					<tr>
						<td>姓名：<input  name="name" id="name" style="width: 50px"></td><td><strong id="_name" style="color:red;"></strong>
					</tr>
 					<tr>
						<td>语文成绩：<input maxlength="6" name="chinese" id="chinese" style="width: 50px"><td><strong id="_chinese" style="color:red;"></strong>
					</tr>
					<tr>
						<td>数学成绩：<input  maxlength="6" name="math" id="math" style="width: 50px"><td><strong id="_math" style="color:red;"></strong></td>
					</tr>
					<tr>
						<td>英语成绩：<input  maxlength="6" name="english" id="english" style="width: 50px"><td><strong id="_english" style="color:red;"></strong></td>
					</tr>
					<tr>
						<td>作业成绩：<input  maxlength="6" name="homework" id="homework" style="width: 50px"><td><strong id="_homework" style="color:red;"></strong></td>
					</tr> 
					<tr>
						<td><button type="submit" >提交</button></td>
						<td><button type="reset">重置</button></td>
						<td><input type="button"  onclick="javascript:history.back(-1);" value="取消"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</body>
</html>