<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript"
	src="/js/returnUrlByTime.js"></script>
<link href="/css/main.css" rel="stylesheet" type="text/css">
<meta http-equiv="refresh" content="3;url=http://193.112.73.75:8080/manager/viewStudent;charset=UTF-8">
<title>修改成功</title>
</head>
<body onload="returnUrlByTime()">
	<div th:include="bar"></div>
	<h1 align="center" th:text="${name}">修改成功</h1>
	<p align="center">
		<strong id="layer" style="color: red;">3</strong>秒后跳转回添加页面
	</p>
</body>
</html>